html,
body {
    background-color: #F2F6FE;
}

.card {
    background-color: #F9FAFB;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #333333;
    font-size: 24px;
}

.card-text {
    color: #5B5B5B;
    font-size: 16px;
}

.btn-primary {
    background-color: #4F9DDE;
    border-color: #4F9DDE;
    font-weight: bold;
    font-size: 15px;
}

.btn-primary:hover {
    background-color: #408DC1;
    border-color: #408DC1;
}
